/*-----------------------Cart----------------------------*/
/*Giỏ hàng icon*/
.cart-icon {
    position: relative;
    display: inline-block; 
    left: 49%;
    width: 40px;
    height: 40px;
    top: 10px;
    margin-left: 10px

}
/*End giỏ hàng icon*/
.cart {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    font-family: "Hammersmith",sans-serif;
}
.cart h2 {
    margin-bottom: 20px;
    font-family: "Montserrat",sans-serif;
    font-size: 50px; 
    font-weight: 600;
}
.cart table {
    width: 100%;
}
.cart table thead tr th:first-child {
    display: flex;
    text-align: left;
    

}
.cart table tbody tr td:first-child {
    display: flex;
    text-align: left;
    padding: 16px 0;
    border-bottom: 1px solid #ddd;
    align-items: flex-start;
}
.cart table tr td {
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
}
.cart table thead tr th:last-child {
    text-align: right;
}
.cart table thead tr th{
    font-weight: 600;
}
.cart table tbody tr td:last-child {
    text-align: right;
}
.cart table tbody tr td input {
    margin: 0 auto;
    padding-left: -25px;
    font-family: "Hammersmith",sans-serif;
    width: 70px;
}
/*------------------*/
.cart {
    position: fixed;
    height: 100vh;
    width: 400px;
    /* left: 75%; */
    right: 0;
    top: 0;
    background-color: #fff;
    padding: 12px 20px;
    overflow-y: scroll;
    z-index: 2;
    margin-top: 70px;
    padding-right: 0px;
    right: -100%;
    transition: all 0.3s ease;
    border: 1px solid #000;
}
.cart .btn-pay {
    background-color: #b81515;
    border: none;
    padding: 7px;
    width: 150px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: bn53bounce 4s infinite;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 15px;
}

.cart form{
    padding-right: 15px;
}
@keyframes bn53bounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}
.cart-icon i {
    cursor: pointer;
    
}
.cart #close-cart {
    cursor: pointer;
    display: block;
    margin-right: 100%;
    height: 50px;
}
.cart .price-total {
    margin-top: 20px;
    margin-bottom: 30px;
}