*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'JetBrains', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/* Phần hình ảnh */
.img-bg {
    position: relative;
    width: 50%;
    height: 100%;
}
.img-bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
/* Phần nội dung */
.content {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.content .form {
    width: 50%;
}
.form h1 {
    color: #1572A1;

    font-family: "JetBrains",sans-serif;
    font-size: 2em;
    font-weight: 600;
    
    text-transform: uppercase;
    margin-bottom: 10px;
    border-bottom: 4px solid #1572A1;
    display: inline-block;
    letter-spacing: 1px;
}
.form h2 {
    color: #5fb0d8;
    font-family: "JetBrains",sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: 8px;
    display: inline-block;
    letter-spacing: 1px;
}
.form .input-form{
    margin-bottom: 20px;
}
.form .input-form span{
    font-family: "JetBrains",sans-serif;
    font-weight: 500;
    font-size: 1em;
}
.form .input-form input {
    width: 95%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 10px;
    display: inline-block;
    margin-top: 5px;
}
.input-form input[type="submit"]{
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #71DFE7;
    color: #fff;
    outline: none;
    border: none;

    font-family: "JetBrains",sans-serif;
    font-weight: 600;
    font-size: 16px;

    cursor: pointer;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.12),
                0 2px 2px rgba(0,0,0,0.12),
                0 4px 4px rgba(0,0,0,0.12),
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
            box-shadow: 0 1px 1px rgba(0,0,0,0.12),
                0 2px 2px rgba(0,0,0,0.12),
                0 4px 4px rgba(0,0,0,0.12),
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
}
.input-form input[type="submit"]:hover{
    background: #009DAE;
}

.wrap-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
}