*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'JetBrains', sans-serif;
    box-sizing: border-box;
    border: 0 solid;
}
#main{
    display: block;
}

#header {
    height: 70px;
    background-color: #ECFCFF;
    /* background-image: linear-gradient(to-right,#8DB596,#8DB596); */
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
#nav {
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: medium; 
    font-weight: 600;
    
}
#nav , .subnav {
    list-style-type: none;
    
}
/* inline là trên một hàng, block giữ lại tính chất khối */
#nav > li {
    display: inline-block;
    
    
}
#nav li {
    position: relative;
}
/* Thuộc tính ăn theo li không theo a nữa */
#nav > li > a {
    color: black;
    text-transform: uppercase;

}
#nav li a {
    /* text-decoration bỏ gạch chân */
    text-decoration: none;
    line-height: 30px;
    padding: 20px 30px;
    display: block;
    
}
#nav li:hover .subnav {
    display: block;

}
#nav .subnav li:hover a,
#nav > li:hover > a {
    color:rgb(255, 255, 255);
    background-color: #48c0f4;
    
}
#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* kế thừa inline sẽ kh kế thừa chiều cao chiều rộng */
#nav .subnav a {
    color: #000;
    min-width: 160px ;
    padding: 12px;
    line-height: 38px;
    
}
#nav .nav-arrow-down {
    font-size: 14px;
}
/* LOGIN BUTTON */
#wrap-nav .wrap-login-btn{
    position: relative;
    display: inline-block; 
    left: 49%;
    
}
.login-btn{
    /* font-family: 'Lato', sans-serif;    */
    font-weight: 600;
    text-transform: uppercase;

    height: 46px;
    width: 90px;
    border-radius: 12px;

    right: 5%;
    cursor: pointer;
    padding: 20px auto;
    text-align: center;
    display: inline-block;
    /* color: rgb(249, 245, 245); */
    color: #000;
    border: 2px ;
    box-shadow: inset 2px 2px 2px 0px rgba(197, 193, 193, 0.5), 7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
            
   }

/* dua cursor vao nut login */
.login-btn:hover {
    /* color: rgb(43, 30, 30); */
    transition: 0.6s;
    color: white;
    background-image: linear-gradient(to right,rgb(65, 151, 255),rgb(55, 209, 252));
}
/* phan dem dang sau nut login tao hieu ung  */
.login-btn:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.login-btn:active {
    top: 2px;
}
/* END LOGIN BUTTON */


/* CONTENT */
article {
    display: block;
    box-shadow: 0 1px 4px #29333980;
    max-width: 784px;
    padding: 1.6rem;

    margin: auto;
    margin-top: 6.4rem;
    margin-bottom: 6.4rem;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

article h1{
    font-weight: 800;
    font-size: x-large;
    margin-bottom: 20px;
}

article h3,h2{
    line-height: 1.5;
    font-weight: 600;
    font-size: larger;
}

article p,ul{
    font-size: small;
    line-height: 1.5;
}
/* END CONTENT  */







/* FOOTER  */
.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.column{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.column-full{
    width: 100%;
}

.column-fourth{
    width: 25%;
}

.column-third{
    width: 33.333333%;
}

.column-half{
    width: 50%;
}

.clear{
    clear: both;
}

#footer {
    margin-top: 10px;
    background-color: #dbdbdb;
    height: 400px;
    padding: 64px 16px;
    text-align: center;
}

.footer-container.row.column-third.column {
    padding: 5px 20px;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    
}

.social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0;
}

.footer-list-content  {
    margin-top: 22px;
}

.member-info ul li {
    margin-bottom: 12px;
    line-height: 24px;
}

.fabrand {
    font-size: 32px;
    padding: 0px 10px ;
}

#copyright{
    background-color: #f9f9f9;
}

.copyright-container{
    border-top: #000 solid 1px;
    padding: 18px 0px 24px 20px;
    margin: 0 20px;
}
/* End Footer */


@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
/* END FOOTER  */